@font-face {
    font-family: Pompadur;
    src: url(fonts/pompadur.ttf);
  }
  @media screen and (max-width: 1024px) {
    div.example {
      width: 980px;
    }
  }
  body {
    background: url(images/ajy_htubcnhfwbz.jpg);
  }
  #container {
    width: 70%;
    margin: 0 auto;
    background: #FFFCF1;
  }
  #container a {
    font-family: Pompadur;
    font-size: 20px;
  }
  .bts {
    width: 90%;
    display: inline-block;
  }
  #snsd {
    width: 25%;
    height: 15%;
    margin-left: 15%;
  }
  .shi {
    width: 99%;
  }
  #header {
    background: #E3FFF8;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    padding: 2px;
  }
  #content {
    float: left;
    width: 70%;
    padding: 10px;
    border-right: 1px solid #183533;
    background: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
  }
  #content p {
    margin-top: 0.3em;
  }
  #sidebar {
    float: left;
    width: 20%;
    padding: 5px;
  }
  #footer {
    background: #8fa09b;
    color: #fff;
    padding: 5px;
  }
  .clear {
    clear: both;
  }
  ul.h-menu {
    margin-left: 15%;
    padding: 0;
    display: block;
    width: 70%;
    height: 3em;
    background-color: #262533;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 70%, from(#666981), to(#262533));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color2', endColorstr='@color1', GradientType=0);
  }
  ul.h-menu li {
    float: left;
    list-style: none;
    border-right: 1px solid #666981;
    position: relative;
    width: auto;
    width: 24%;
  }
  ul.h-menu li a {
    color: white;
    display: block;
    font-family: Pompadur, 'Comic Sans MS', cursive;
    font-size: 22px;
    padding: 3% 30% 3%;
    text-decoration: none;
    border-right: 1px solid #666981;
  }
  ul.h-menu li a:hover {
    background-color: #262533;
  }
  ul.h-menu li ul {
    display: none;
  }
  ul.h-menu li:hover ul {
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
    border-radius: 0 0 4px 4px;
    background-color: #262533;
    z-index: 1000;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  ul.h-menu li:hover ul li {
    float: none;
    border-right: none;
  }
  ul.h-menu li:hover ul li a {
    border-right: none;
    padding: 20% 30% 20%;
    display: block;
  }
  ul.h-menu li:hover ul li a:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  ul.h-menu li:hover ul li:first-child a:hover {
    border-radius: 0;
  }
  