@color1:#262533;
@color2:#666981;
@font-face {
	font-family: Pompadur;
	src: url(fonts/pompadur.ttf);
}
@media screen and (max-width: 1024px) {
	div.example {
		width: 980px;
	}
}
body {
	background: url(images/ajy_htubcnhfwbz.jpg);
}
#container {
	a {
		font-family: Pompadur;
		font-size: 20px;
	}
	width: 70%;
	margin: 0 auto;
	background: #FFFCF1;
}
.bts {
	width: 90%;
	display: inline-block;
}
#snsd {
	width: 25%;
	height: 15%;
	margin-left: 15%;
}
.shi {
	width: 99%;
}
#header {
	background: #E3FFF8;
	font-size: 2em;
	font-weight: bold;
	color: #000000;
	padding: 2px;
}
#content {
	float: left;
	width: 70%;
	padding: 10px;
	border-right: 1px solid #183533;
	background: #FFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bolder;
	p {
		margin-top: 0.3em;
	}
}
#sidebar {
	float: left;
	width: 20%;
	padding: 5px;
}
#footer {
	background: #8fa09b;
	color: #fff;
	padding: 5px;
}
.clear {
	clear: both;
}
ul.h-menu {
	margin-left: 15%;
	padding: 0;
	display: block;
	width: 70%;
	height: 3em;
	background-color: @color1;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 70%, from(@color2), to(@color1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color2', endColorstr='@color1', GradientType=0);
	li {
		float: left;
		list-style: none;
		border-right: 1px solid @color2;
		position: relative;
		width: auto;
		width: 24%;
		a {
			color: white;
			display: block;
			font-family: Pompadur, 'Comic Sans MS', cursive;
			font-size: 22px;
			padding: 3% 30% 3%;
			text-decoration: none;
			border-right: 1px solid @color2;
			&:hover {
				background-color: @color1;
			}
		}
		ul {
			display: none;
		}
		&:hover {
			ul {
				display: block;
				position: absolute;
				top: 45px;
				left: 0;
				border-radius: 0 0 4px 4px;
				background-color: @color1;
				z-index: 1000;
				margin: 0;
				padding: 0;
				width: 100%;
				li {
					float: none;
					border-right: none;
					a {
						border-right: none;
						padding: 20% 30% 20%;
						display: block;
						&:hover {
							background-color: transparent;
							text-decoration: underline;
						}
					}
					&:first-child {
						a {
							&:hover {
								border-radius: 0;
							}
						}
					}
				}
			}
		}
	}
}